/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F3F7;
    color: #4A4A4A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    background: linear-gradient(135deg, #CDC1D9, #B19CD9);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 20px 20px;
    flex-wrap: wrap;
}

/* Logo */
.logo {
    height: 60px;;
    width: auto;
    max-width: 150px;
    border-radius: 20%;
    margin-left: 20px;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.3s ease, background 0.3s ease;
    border-radius: 10px;
}

/* Efecto hover en enlaces */
nav ul li a:hover {
    color: #CDC1D9;
    background: #fff;
}

/* Main */
main {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2, h3 {
    color: #6A5ACD;
    font-weight: 600;
}

/* Botón */
.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #8A2BE2;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background: #5D478B;
    transform: translateY(-3px);
}

/* Footer */
footer {
    background: linear-gradient(135deg, #CDC1D9, #B19CD9);
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0 0;
}
/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
